<div ng-controller="KhristinaCtrl">
    <div class="section-block">
        <h1>Comparison of Two different Geothermals</h1>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="control">
                <div ba-panel ba-panel-title="Notes" ba-panel-class="xsmall-panel light-text">
                <textarea class="form-control" id="notes" rows="3" style="border: 0 none"
                          placeholder="Enter a message ..."></textarea>
                    <button  class="btn btn-default pull-right" >SAVE</button>
                </div>
            </div>
        </div>
    </div>



    <div ba-panel>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="drop-down" class="btn-group pull-left" uib-dropdown dropdown-append-to-body>
                    <button id="dropdown-property" type="button" class="btn btn-default" uib-dropdown-toggle>
                        <span id="selected-property">{{selectedProperty.replace("_", " ").toUpperCase()}}</span><span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu>
                        <li><a class="dropdown-item" ng-repeat="p in properties" ng-model="name" ng-click="updateProperty(this)">{{p.replace("_", " ").toUpperCase()}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div id="drop-down1" class="btn-group" uib-dropdown dropdown-append-to-body>
                    <button id="dropdown1" type="button" class="btn btn-default" uib-dropdown-toggle>
                        <span id="selectedPlant">{{selectedPlantOne}}</span><span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu>
                        <li><a class="dropdown-item" ng-repeat="name in powerplants" ng-model="name" ng-click="changePlantOne(this)">{{name}}</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                <div id="drop-down2" class="btn-group" uib-dropdown dropdown-append-to-body>
                    <button id="dropdown2" type="button" class="btn btn-default" uib-dropdown-toggle>
                        <span id="selected">{{selectedPlantTwo}}</span><span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu>
                        <li><a class="dropdown-item" ng-repeat="name in powerplants" ng-model="name" ng-click="changePlantTwo(this)">{{name}}</a></li>
                    </ul>
                </div>
            </div>

        <div class="row">
            <div id="line-chart-panel" class="col-lg-6">
                <line-chart-one id="1"></line-chart-one>
            </div>
            <div id="line-chart-panel2" class="col-lg-6">
                <line-chart-two id="2"></line-chart-two>
            </div>
        </div>

<div id="lineChartPanel" class="col-lg-12 col-md-12 col-sm-12"
     ba-panel
     ba-panel-title="Monitor a chosen Parameter"
     ba-panel-class="with-scroll">
    <compare-chart></compare-chart>
</div>
</div>




    <script>
    function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
    if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
    a[i].style.display = "";
    } else {
    a[i].style.display = "none";
    }
    }
    }
    </script>