<div id="controller" class="row" ng-app="Geothermal" ng-controller="DepthChartCtrl">
    <div class="row">
        <div class=" col-lg-9">
            <div id="depthChart" class="dashboard-chart">
            </div>
        </div>
    <div class="control-group col-lg-3">
        <div class="control" ng-repeat="name in names" ng-model="names">
            <label class="nowrap">
                <toggle ng-model="checkboxModel" ng-change="removeData(this)"></toggle>
                <span ng-model="names">{{name}}</span>
            </label>
        </div>
    </div>
    </div>
</div>