<div ng-app="Geothermal.pages.marvin" ng-controller="MarvinCtrl">

    <div class="container-fluid">

        <!-- Drop-down menu to select the power plant -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel animated">
                    <div class="panel-body">
                        <h3>Choose The Geothermal Plant You Want To Monitor</h3>
                        <div id="drop-down" class="btn-group" style="width: 100%" uib-dropdown dropdown-append-to-body>
                            <button id="dropdown" type="button" class="btn btn-default" style="width: 100%" uib-dropdown-toggle>
                                <span id="selected" data-selected="{{selectedPlant}}">{{selectedPlant}}</span><span class="caret"></span>
                            </button>
                            <ul uib-dropdown-menu>
                                <li><a class="dropdown-item" ng-repeat="name in powerplants" ng-model="name" ng-click="changePlant(this)">{{name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Text area for power plant summary and notes -->
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="control">

                    <div ba-panel ba-panel-title="Notes" ba-panel-class="xsmall-panel light-text">
                        <textarea class="form-control" id="notes" rows="3" style="border: 0 none" placeholder="Enter a message ..."></textarea>
                            <button class="btn btn-default pull-right">Save</button>
                    </div>

                </div>
            </div>

            <!-- Gauge -->
            <div id="gauge-panel" class="col-lg-6 col-md-6 col-sm-6"
                 ba-panel
                 ba-panel-title="Gauge"

                 style="display: none">
                <gauge-detail></gauge-detail>
            </div>
        </div>
    </div>

    <!-- Line chart -->
    <div id="line-chart-panel" class="col-lg-12"
         ba-panel
         ba-panel-title="Line Chart"
         style="display: none">
        <line-chart-detail></line-chart-detail>
    </div>

</div>